{{!-- <h4 style="padding-left: .5em;">Welcome {{name}}</h4> --}}
{{#if allUsers}}
<table class="striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Password</th>
            <th>Email</th>
            <th>Display Name</th>
            <th>Access Level</th>
            <th>Birth Date</th>
            <th>Phone Number</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each allUsers}}
            {{#if username}}
            <tr>
                <td><a href="/stories/{{_id}}">{{_id}}</a></td>
                <td>{{username}}</td>
                <td>{{password}}</td>
                <td>{{email}}</td>
                <td>{{displayName}}</td>
                <td>{{accessLevel}}</td>
                <td>{{dateOfBirth}}</td>
                <td>{{phoneNumber}}</td>
                <td><span class="dash-status">{{status}}</span></td>

                <td>
                    {{!-- <form action="/stories/{{_id}}" method="POST" id="delete-form"> --}}
                        {{!-- <input type="hidden" name="_method" value="DELETE"> --}}
                        <button type="submit" class="btn red">
                            <i class="fas fa-trash"></i>
                        </button>
                    {{!-- </form> --}}
                </td>
            </tr>
            {{/if}}
        {{/each}}
    </tbody>
</table>
{{/if}}
